
.container {
position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid cyan;
}
.frameAnchor {
  position: relative;
  overflow: visible;
  width: 10px;
  height: 10px;
  background-color: magenta;
  z-index: 10;
}
