
.order {
  position: absolute;
  right: 3px;
  top: 10px;
}

.container {

}

.move-button button svg {
  color: hsl(185, 73%, 23%);
  &:hover {
    color: var(--hover-color)
  }
}

.count {
  font-weight: bold;
}

.link-detail {
  margin-bottom: 5px;
  padding: 4px;
  border: 1px solid lightgray;;
}
