@import './utils.scss';
:root {
  --shadow-color: 0deg 0% 56%;
  --shadow-color-green: 110deg 50% 36%;

    --shadow-elevation-low:
            0.6px 0.7px 0.9px hsl(var(--shadow-color) / 0.67),
            1px 1.2px 1.4px -1.9px hsl(var(--shadow-color) / 0.51),
            5.1px 6.1px 7.3px -2.6px hsl(var(--shadow-color) / 0.46);
    --shadow-elevation-medium:
            0.6px 0.7px 0.9px hsl(var(--shadow-color) / 0.7),
            1.6px 2px 2.4px -1.3px hsl(var(--shadow-color) / 0.58),
            5.1px 6.1px 7.3px -2.6px hsl(var(--shadow-color) / 0.46),
            14.1px 16.9px 20.3px -3.8px hsl(var(--shadow-color) / 0.33);
    --shadow-elevation-high:
            0.6px 0.7px 0.9px hsl(var(--shadow-color) / 0.65),
            2.5px 3px 3.6px -0.5px hsl(var(--shadow-color) / 0.6),
            5.2px 6.2px 7.5px -1.1px hsl(var(--shadow-color) / 0.54),
            10px 12px 14.4px -1.6px hsl(var(--shadow-color) / 0.48),
            18.5px 22.1px 26.6px -2.2px hsl(var(--shadow-color) / 0.42),
            31.8px 38.1px 45.8px -2.7px hsl(var(--shadow-color) / 0.37),
            51.3px 61.5px 73.9px -3.3px hsl(var(--shadow-color) / 0.31),
            78.5px 94.1px 113px -3.8px hsl(var(--shadow-color) / 0.25);

    --shadow-elevation-low-green:
            0.6px 0.7px 0.9px hsl(var(--shadow-color-green) / 0.67),
            1px 1.2px 1.4px -1.9px hsl(var(--shadow-color-green) / 0.51),
            5.1px 6.1px 7.3px -2.6px hsl(var(--shadow-color-green) / 0.46);
    --shadow-elevation-medium-green:
            0.6px 0.7px 0.9px hsl(var(--shadow-color-green) / 0.7),
            1.6px 2px 2.4px -1.3px hsl(var(--shadow-color-green) / 0.58),
            5.1px 6.1px 7.3px -2.6px hsl(var(--shadow-color-green) / 0.46),
            14.1px 16.9px 20.3px -3.8px hsl(var(--shadow-color-green) / 0.33);
    --shadow-elevation-high-green:
            0.6px 0.7px 0.9px hsl(var(--shadow-color-green) / 0.65),
            2.5px 3px 3.6px -0.5px hsl(var(--shadow-color-green) / 0.6),
            5.2px 6.2px 7.5px -1.1px hsl(var(--shadow-color-green) / 0.54),
            10px 12px 14.4px -1.6px hsl(var(--shadow-color-green) / 0.48),
            18.5px 22.1px 26.6px -2.2px hsl(var(--shadow-color-green) / 0.42),
            31.8px 38.1px 45.8px -2.7px hsl(var(--shadow-color-green) / 0.37),
            51.3px 61.5px 73.9px -3.3px hsl(var(--shadow-color-green) / 0.31),
            78.5px 94.1px 113px -3.8px hsl(var(--shadow-color-green) / 0.25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.markdown, article {
  padding: 0.5em 1em;
  p {
    margin-bottom: 1em;
  }
}
