@import '~/styles/utils.scss';

.note {
  position:  absolute;
  right: 0;
  top: 0;
  padding: 8px;
  pointer-events: none;
  @include no-select();
}

.info {
  padding: 8px;
  pointer-events: none;
  @include no-select();
  > span {
    display: flex;
    flex-direction: row;
  }
  > span > span {
    display: block;
    margin-right: 1rem;
  }
}
