@import "~/styles/utils.scss";

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include no-select();
  pointer-events: none;
  position: absolute;
  z-index: 1000000;
  background-color: rgba(0, 0, 200, 0.1);
}
