@import "~/styles/utils.scss";

.container {

}

.detail-head {
  position: relative;
}

.frame-item {
  position: relative;
  @include no-select();

  &:hover {
    border: 1px solid var(--hover-color);
    background-color: var(--hover-color-fill);
  }
}
.active-frame {
  border: 1px solid var(--selected-color);
  background-color: var(--selected-color-fill) !important;
}

.active-frame-locked, .active-frame-locked:hover {
  border: 3px solid var(--selected-color);
  background-color: var(--hover-color-fill);
}

.locked-frame .frame-item:hover {
}

.order {
  position: absolute;
  right: 3px;
  top: 10px;
}
