
.container {
  position: relative;

  .icon {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;
    z-index: 10;
    padding: 1em;
    min-width: 100px;
    color: hsl(24, 75%, 50%);
  }

  &:hover {
    .blur-layer {
      backdrop-filter: blur(2px);
    }
    .label {
      color: inherit;
    }
  }
  .blur-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index:50;
    padding: 1em;
  }
  .label {
    position: relative;
    z-index: 100;
    padding: 1em;
    color: rgba(0,0,0,0.5);
    padding-left: 3em;
  }
}
