@import '~/styles/utils.scss';

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
  z-index: 100000000;

  .move-widget {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: visible;
    .move-widget-icon-container {
      position: absolute;
      width: 30px;
      height: 30px;
      img {
        position: absolute;
        left: -15px;
        top: -15px;
      }
      .mouse-overlay {
        pointer-events: all !important;
        position: absolute;
        background-color: rgba(200,0,0,0.25);
        left: -15px;
        top: -15px;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.overlay {
  border: 2px solid orange;
  background-color: rgba(255, 204, 102, 0.1);
  position: absolute;
}
